.header-top-bg {
    background: #4eaeea;
    background: url("../img/first-screen-img.png") no-repeat center;
    padding-bottom: 40px;
    background-size: cover;
}
.telephone-list-all {
    display: inline-block;
}
.telephone-img {
    vertical-align: middle;
}
.telephone-text {
    vertical-align: middle;
    opacity: 0.87;
    color: white;
    font-size: 20px;
    line-height: 12px;
}
.header-top__button {
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    width: 164px;
    height: 35px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    transition: background .3s;
}
.button-green {
    background-color: #4adc62;
}
.header-top__button:hover {
    background: #50eb6a;
}
.header-top {
    border-bottom: 1px solid #5b9ad6;
    font-family: 'Conv_Ubuntu-M';
    position: relative;
    background: rgba(255,255,255,.1);
}
.header-padding-container {
    padding: 6px 15px;
    position: relative;
    z-index: 222;
    height: 62px;
}
.head-nav-container {
    position: relative;
    z-index: 222;
}
.telephone-list-position {
    padding: 11px 0 0 0;
    text-align: center;
}
.telephone-list-all {
    margin-right: 20px;
}
.button-position {
    margin: 8px 0 0 0;
}
.header-nav {
    font-family: 'Conv_Ubuntu-M';
    border-bottom: 1px solid #3aa4e8;
    position: relative;
    background: rgba(255,255,255,.1);
}
.header-nav__list {
    text-align: center;
}
.head-nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 13px 13px;
    cursor: pointer;
    position: relative;
    transition: background .3s;
}
.head-nav-link:hover,.head-nav-link:active,.head-nav-link:visited {
    text-decoration: none;
    color: #fff;
    background: #71bdee;
}
.list-rout-position {
    display: inline-block;
    position: relative;
}
.header-nav__list-rout {

}
.header-nav__list-rout:hover .drop-list{
    max-height: 500px;
    transition: max-height 0.3s ease-in;
}
.drop-list {
    font-family: 'Conv_Ubuntu-M';
    opacity: 0.97;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 39px;
    min-width: 150px;
    text-align: left;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}
.item-link-style {
    color: #4f94d2;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 20px 15px 14px;
    display: block;
    line-height: 8px;
}
.title-top-style {
    font-size: 52px;
    font-weight: 700;
    line-height: 52px;
    font-family: 'Philosopher-Bold';
    color: #fff;
    margin-top: 30px;
}
.top-text-block__mini-text {
    margin-top: 15px;
}
.mini-text-style {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-family: 'Conv_Roboto-Light';
    color: #fff;
}
.img-info-block {
    width: 100%;
    height: 164px;
    display: inline-block;
    text-align: center;
}
.img-info-block__img {
    width: 100%;
    height: 100%;
}
.header-bottom-info__item {
    width: 368px;
    display: inline-block;
    margin-right: 12px;
    vertical-align: top;
    border-radius: 3px;
    overflow: hidden;
}
.header-bottom-info__item:last-child {
    margin-right: 0;
}
.header-bottom-text {
    padding: 0 15px;
}
.header-bottom-info {
    margin-top: 30px;
    padding: 0 15px;
}
.title-item-style {
    color: #404040;
    font-size: 26px;
    font-weight: 500;
    line-height: 28px;
    font-family: 'Conv_Roboto-Medium';
    text-align: left;
}
.text-info-block {
    padding: 15px 20px 20px 20px;
    background: #fff;
    margin-top: -3px;
}
.text-info-block__text-about {
    color: #595959;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}
.text-about-style {
    font-family: 'Conv_Roboto-Light';
    margin-top: 20px;
    overflow: hidden;
    height: 108px;
}
.text-info-block__text-link {
    color: #4f94d2;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.text-link-style  {
    margin-top: 5px;
    display: block;
}
.img-info-block__color-green {
    background: #5be372;
}
.img-info-block__color-orange {
    background: #e7cc5e;
}
.img-info-block__color-orange {
    background: #43b5f8;
}
.button-orange {
    background: #e7cc5e;
}
.button-orange:hover {
    background: #f2d86f;
}
.button-blue {
    background: #43b5f8;
}
.button-blue:hover {
    background: #73ccff;
}
.text-info-block__button-style {
    width: 100%;
    margin-top: 20px;
}
.news-and-schedule {
    padding: 30px 0 0 0;
    background: #f3f7fa;
    position: relative;
}
.news-block__title-text {
    position: relative;
    z-index: 1;
}
.news-dib {
    display: inline-block;
}
.news-block__title-text-link {
    color: #404040;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Philosopher-Bold';
    transition: all .3s;
    position: relative;
    z-index: 2000;
    margin: 30px 0;
    display: inline-block;
    outline: none !important;
    text-decoration: none !important;
}
.news-block__title-text-link:hover {
    color: #4f94d2;
}
.news-block {
    padding-bottom: 40px;
    position: relative;
}
.news-block__title-nwes-glif {
    font-size: 24px;
}
.single-news__width {
    width: 350px;
    display: inline-block;
    margin-right: 25px;
}
.single-news__title-link {
    color: #4f94d2;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Conv_Roboto-Regular';
    margin-top: 15px;
    display: block;
}
.single-news__title-link:hover {
    text-decoration: none !important;
}
.single-news__text {
    font-family: 'Conv_Roboto-Light';
    color: #404040;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}
.single-news__text-style {
    overflow: hidden;
    height: 91px;
    margin-top: 10px;
}
.single-news__date {
    font-family: 'Conv_Roboto-Regular';
    color: #b3b3b3;
    font-weight: 400;
    line-height: 26px;
}
.single-news__date-style {
    color: #b3b3b3;
    font-size: 12px;
}
.single-news__date-style-article-list {
    color: #404040;
    font-size: 15px;
    margin-top: 10px;
}
.news-block-item__width {
    width: 782px;
    float: left;
    padding-left: 15px;
}
.schedule-block {
    float: left;
    max-width: 380px;
    width: 100%;
}
.schedule-list__item-inner-top {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: #404040;
    font-family: 'Conv_Roboto-Light';
}
.schedule-list__item-inner-top-link {
    color: #4f94d2;
}
.schedule-list__item-inner-bottom {
    color: #979797;
    font-size: 13px;
    font-weight: 300;
    line-height: 26px;
}
.schedule-list {
    margin-top: 20px;
}
.schedule-list__item-style {
    background-color: white;
    border: 1px solid #dfe3e6;
    border-left: 5px solid #34dc4f;
    border-radius: 2px;
    padding: 2px 10px 1px 10px;
    margin-bottom: 10px;
    min-width: 330px;
}
.flag-sale__left {
    float: left;
    width: 83px;
    height: 69px;
    background: url("../img/teaser-bg.png") no-repeat center;
    text-align: center;
    padding-left: 10px;
    padding-top: 5px;
    position: relative;
}
.flag-sale__center {
    float: left;
    height: 69px;
    background-color: #d45555;
    padding: 5px 10px 0;
}
.flag-sale__right {
    float: left;
    height: 69px;
    background-color: #d45555;
    padding: 5px 10px 0;
}
.flag-sale__left-text-top {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    font-family: 'Conv_Roboto-Bold';
    text-align: center;
    padding-bottom: 6px;
}
.flag-sale__left-text-bottom {
    color: white;
    font-size: 40px;
    font-weight: 500;
    line-height: 22px;
    font-family: 'Conv_Roboto-Medium';
}
.flag-sale__center-text-top {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    font-family: 'Conv_Roboto-Bold';
    text-align: center;
    padding-bottom: 0;
}
.flag-sale__center-text-bottom {
    color: white;
    font-size: 31px;
    font-weight: 400;
    font-family: 'Conv_Roboto-Regular';
    border-bottom: 1px dashed white;
}
.flag-sale__right-text-top {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    font-family: 'Conv_Roboto-Bold';
    text-align: center;
    padding-bottom: 4px;
}
.flag-sale__right-link {
    border-bottom: 1px dashed white;
    display: block;
}
.flag-sale {
    position: fixed;
    top: 50%;
    right: -338px;
    transition: all .3s;
    z-index: 300;
    opacity: 0;
}
.show-sale {
    opacity: 1;
    right: -238px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.flag-sale:hover {
    right: 0;
}
.specialists-slider-img__item {
    width: 277px;
    height: 277px;
}
.specialists-slider-img__img {
    width: 100%;
    height: 100%;
}
.specialists-slider__item {
    background-color: white;
    border: 1px solid #dfe3e6;
    margin-left: 7px;
    margin-right: 7px;
}
.specialists-slider .slick-prev {
    background: url("../img/previous.png") no-repeat center;
    height: 22px;
    left: auto;
    top: -49px;
    right: 197px;
    z-index: 200;
}
.reviews-slider .slick-prev {
    background: url("../img/previous-white.png") no-repeat center;
}
.specialists-slider .slick-next {
    background: url("../img/next.png") no-repeat center;
    height: 22px;
    top: -49px;
    z-index: 200;
    right: 0;
}
.reviews-slider .slick-next {
    background: url("../img/next-white.png") no-repeat center;
}
.specialists-slider .slick-prev:hover:before,
.specialists-slider .slick-prev:focus:before,
.specialists-slider .slick-next:hover:before,
.specialists-slider .slick-next:focus:before,
.specialists-slider .slick-prev:before,
.specialists-slider .slick-next:before{
    opacity: 0 !important;
}
.slick-dots li {
    width: 21px;
    height: 21px;
    border: 1px solid #65a7e4;
    border-radius: 50%;
}
.reviews-slider .slick-dots li {
    border: 1px solid #fff;
}
.slick-dots li button:before {
    color: transparent;
    font-size: 8px;
    line-height: 13px;
    width: 13px;
    height: 13px;
    bottom: 0;
    margin: auto;
    right: 0;
    border-radius: 50%;
    transition: all .3s;
}
.reviews-slider .slick-dots li button:hover:before {
    background: #fff;
}
.slick-dots li button:hover:before {
    background: #65a7e4;
    opacity: .4;
}
.reviews-slider .slick-dots li.slick-active button:before {
    color: #fff;
}
.slick-dots li.slick-active button:before {
    color: #65a7e4;
}
.specialists-slider .slick-dots {
    position: absolute;
    bottom: auto;
    top: -62px;
    right: 0;
    text-align: right;
    padding-right: 30px;
}
.specialists-slider-info__text-link-style {
    color: #404040;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Conv_Roboto-Medium';
    overflow: hidden;
    display: block;
    height: 50px;
    outline: none !important;
    text-decoration: none !important;
}
.specialists-slider-info__text-link-style:hover {
    text-decoration: none;
    color: #404040;
}
.specialists-slider-info__text-special-style {
    color: #404040;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    margin-top: 12px;
    font-family: 'Conv_Roboto-Light';
    height: 38px;
    overflow: hidden;
}
.specialists-slider-info__text-special-info-style {
    color: #999;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    margin-top: 12px;
    font-family: 'Conv_Roboto-Light';
    overflow: hidden;
    height: 95px;
}
.specialists-slider-info {
    padding: 20px;
}
.main-text__title-style {
    color: #404040;
    font-size: 45px;
    font-weight: 700;
    margin: 35px 0 20px;
    font-family: 'Philosopher-Bold';
}
.main-text__title-bottom {
    color: #404040;
    font-size: 22px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 35px;
    font-family: 'Conv_Roboto-Medium';
}
.main-text__some-text {
    color: #404040;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    font-family: 'Conv_Roboto-Light';
}
.main-text__some-text-style {
    margin-top: 25px;
}
.main-text__list {
    counter-reset: item;
    list-style-type: none;
}
.main-text__list-rout {
    color: #404040;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    font-family: 'Conv_Roboto-Light';
    position: relative;
    padding-left: 15px;
    counter-increment: item;
    margin: 15px 0 20px;
}
.main-text__list-rout:before {
    content: counter(item) ' ';
    color: #404040;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    position: absolute;
    font-family: 'Conv_Roboto-Light';
    left: 0;
}
.main-text__some-text--italic-style {
    font-style: italic;
    margin-top: 25px;
}
.divider-block {
    background: url("../img/divider.png") no-repeat center;
    height: 20px;
    width: 100%;
}
.divider-block-style {
    margin: 40px 0 30px;
}
.block-video__title-link {
    color: #404040;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Conv_Roboto-Medium';
    outline: none !important;
    text-decoration: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: 27px;
    white-space: nowrap;
}
.block-video__title-style {
    margin-bottom: 15px;
}
.block-video__item-iframe {
    width: 100%;
    height: 326px;
}
.block-video__item-style {
    padding-left: 4px;
    padding-right: 4px;
    float: none;
    display: inline-block;
    width: 49.8%;
}
.block-video__item-all-size-height {
    height: 600px;
}
.block-video-all {
    padding-bottom: 50px;
}
.reviews-block__title-text-link {
    color: #fff;
}
.reviews-all {
    background: url("../img/reviews-bg.png") no-repeat center;
    padding-bottom: 40px;
}
.reviews-slider {
    background: rgba(255,255,255,.2);
    padding: 30px 30px 0 30px;
}
.reviews-slide-left__img-avatar {
    padding-left: 10px;
    padding-right: 10px;
}
.reviews-slide-left__img-avatar-block {
    width: 158px;
    height: 158px;
    border: 6px solid rgba(255,255,255,.5);
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}
.reviews-slide-left__img-avatar-style {
    width: 100%;
    height: 100%;
}
.reviews-slide-left__text-avatar-block {
    float: left;
}
.reviews-slide-left__text-avatar-block-title {
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Conv_Roboto-Medium';
}
.reviews-slide-left__text-avatar-block-title-style {

}
.reviews-slide__list {
    margin-top: 12px;
}
.reviews-slide__list-item {
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    font-family: 'Conv_Roboto-Light';
}
.reviews-slide-right__img {
    float: right;
    position: relative;
    width: 195px;
    height: 145px;
    cursor: pointer;
}
.reviews-slide-right__img-text-style {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    text-shadow: 0 0 10px black;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-family: 'Conv_Roboto-Medium';
}
.bottom-rev-slider-text {
    max-height: 285px;
    margin-bottom: 20px;
    overflow: hidden;
}
.bottom-rev-slider-text__item {
    color: white;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    font-family: 'Conv_Roboto-Light';
    margin: 18px 0 25px;
}
.sertificate-slider__item {
    text-align: center;
    cursor: pointer;
}
.slider-modal-init__img {
    margin: auto;
}
.modal-slider-header {
    background: transparent;
    border: none;
}
.modal-slider-body {
    background: transparent;
}
.slider-modal-block {
    background: #f2f7fa;
    padding-top: 25px;
    padding-bottom: 30px;
}
.slider-modal-block__info {
    text-align: center;
}
.slider-modal-init {
    position: relative;
}
.arr-sl-mod-prev {
    width: 50px;
    height: 90px;
    background: url("../img/sl-mob-prev.png") no-repeat center;
    position: absolute;
    left: -50px;
    top: 50%;
    z-index: 3000;
    cursor: pointer;
    transition: all .3s;
}
.arr-sl-mod-prev:hover {
    background: url("../img/prev-hov.png") no-repeat center;
}
.arr-sl-mod-next {
    width: 50px;
    height: 90px;
    background: url("../img/sl-mod-next.png") no-repeat center;
    position: absolute;
    right: -50px;
    top: 50%;
    z-index: 3000;
    cursor: pointer;
    transition: all .3s;
}
.arr-sl-mod-next:hover {
    background: url("../img/next-hov.png") no-repeat center;
}
.modal-slider-content {
    background: transparent;
    box-shadow: none;
    border: none;
}
.modal-backdrop.in {
    opacity: 0.8;
}
.sertificate-slider__item-img {
    width: 269px;
    height: 371px;
    margin: auto;
    border: 10px solid #c1dbf2;
}
.sertificate-slider__item-img-style {
    width: 100%;
    height: 100%;
}
.sertificate-slider-info__text {
    font-family: 'Conv_Roboto-Regular';
    color: #404040;
}
.sertificate-slider-info__text-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 15px;
}
.sertificate-slider-info__text-special-style {
    font-size: 14px;
    line-height: 18px;
    margin-top: 4px;
}
.sertificate {
    padding-bottom: 50px;
}
.footer-bg {
    background: url("../img/footer-bg.png") no-repeat center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-size: cover;
}
.list-item-img {
    display: inline-block;
    vertical-align: top;
}
.list-item {
    margin: 10px 0 10px 0;
}
.list-item-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.list-item-text {
    color: #fff;
    width: 100%;
    max-width: 264px;
}
.list-item-text__text-title {
    font-family: 'Conv_Roboto-Medium';
    font-size: 16px;
    line-height: 20px;
}
.list-item-text__text-light {
    font-family: 'Conv_Roboto-Light';
    font-size: 14px;
    line-height: 22px;
}
.left-contact-footer {
    float: left;
}
.right-vk-vidget {
    float: right;
    width: 500px;
}
.right-vk-vidget__item-margin {
    margin-top: 10px;
}
.menu-fixed {
    transition: all .15s;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 5000;
}
.menu-fixed .header-top {
    transition: all .15s;
    background: #5ca2e3;
}
.menu-fixed .header-nav {
    transition: background .15s;
    background: #5ca2e3;
}
.menu-fixed .drop-list {
    background: #5ca2e3;
}
.menu-fixed .item-link-style  {
    color: #fff;
}
.drop-list-768 {
    display: none;
}
.arrow-down-media {
    display: none;
    text-align: center;
}
.arrow-down-media__item {
    margin-top: 230px;
}
#vk_groups {
    width: 100% !important;
}
.all-reviews-link {
    display: none;
}
.mobaile-button__button {
    display: none;
}
.news-block__title-text-link-article-list {
    margin-bottom: 15px;
    margin-top: 5px;
}
.divider-block-style-article {
    margin: 10px 0 0 0;
}
.article-list__head-style-bg {
    background: #61a4e3;
    padding-bottom: 0;
}
.bread-crambs {
    border-bottom:1px solid #f3f7fa;
}
.bread-crambs-block-item {
    display: inline-block;
    margin-right: 14px;
}
.bread-crambs-block-item__link {
    color: #4f94d2;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    position: relative;
    font-family: 'Conv_Ubuntu-R';
}
.bread-crambs-block-item__link:hover,
.bread-crambs-block-item__link:active,
.bread-crambs-block-item__link:visited {
    color: #4f94d2;
    text-decoration: underline;
}
.bread-crambs-block-item__link-img:before {
    content: '';
    background: url("../img/arrow-crambs.png") no-repeat center;
    width: 12px;
    height: 12px;
    position: absolute;
    right: -17px;
    top: 1px;
    bottom: 0;
    margin: auto;
}
.price-table-block__item {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.slider-modal-init__img {
    padding-left: 20px;
    padding-right: 20px;
}
.modal-services-content {
    border-radius: 0;
}
.modal-services-body {
    padding: 0;
}
.mod-serv-list__item-style {
    padding: 40px 70px 40px 40px;
    transition: all .3s;
    cursor: pointer;
    position: relative;
}
.green-border {
    border-left: 8px solid #4ce065;
}
.orange-border {
    border-left: 8px solid #e5c853;
}
.blue-border {
    border-left: 8px solid #43b5f8;
}
.mod-serv-list__item-img {
    background: url("../img/serv-arr.png") no-repeat center;
    width: 30px;
    height: 48px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
}
.mod-serv-list__item-title {
    font-family: 'Conv_Roboto-Medium';
    font-size: 23px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
.mod-serv-list__item-text {
    font-family: 'Conv_Roboto-Light';
    line-height: 18px;
    font-size: 13px;
    margin: 15px 0 0 0;
    overflow: hidden;
    max-height: 72px;
}
.hover-green:hover {
    color: #fff;
    background: #4ce065;
}
.hover-orange:hover {
    color: #fff;
    background: #e5c853;
}
.hover-blue:hover {
    color: #fff;
    background: #43b5f8;
}
.mod-serv-list__item-style:hover .mod-serv-list__item-img {
    background: url("../img/serv-arrow.png") no-repeat center;
}
.price-table-block__item:nth-child(odd) {
    background: #f7f9fa;
}
.price-table {
    border: 1px solid #dfe3e6;
}
.price-table-block__item-title {
    height: 50px;
    background-color: #e6edf0;
    padding: 10px 15px 0 15px;
}
.price-table-block__item-title:hover {
    background-color: #f2f4f5;
}
.price-table-block__item-title-style {
    color: #404040;
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Conv_Roboto-Medium';
    border-bottom: 1px solid #dfe3e6;
}
.modal .modal-content {
    margin-top: 120px;
    background: transparent;
    box-shadow: none;
    border: none;
}
.mod-serv-list {
    background: #fff;
}
.price-table-block__item-text-top {
    color: #404040;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Conv_Roboto-Regular';
}
.mobile-price-list__item {
    font-family: 'Conv_Roboto-Medium';
}
.mob-pr--item-all-medium {
    font-size: 14px;
}
.mob-pr--item {
    margin: 0 0 10px 0;
}
.mob-pr--item-all {
    font-family: 'Conv_Roboto-Light';
}
.mobile-price-list {
    margin: 5px 0 30px 0;
}
.mobile-price {
    display: none;
}
.price-table-block__item-text-all {
    color: #404040;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    font-family: 'Conv_Roboto-Light';
}
.price-table-block__item-style {
    float: left;
    width: 33.3333%;
}
.price-table-block__block-border {
    border-left: 1px solid #dfe3e6;
    border-right: 1px solid #dfe3e6;
}
.price-table-block__item-last-text-style {
    text-align: right;
}
.sort-block {
    float: right;
}
.sort-block__item-style {
    font-size: 14px;
    line-height: 14px;
    color: #c6cacc;
    transition: all .3s;
    text-decoration: none !important;
    display: block;
}
.sort-block__item-style:hover {
    cursor: pointer;
    color: #64a6e3;
}
.sort-block__last-item {
    float: left;
}
.article-block__img {
    max-width: 280px;
    max-height: 374px;
    margin-right: 15px;
    float: left;
}
.article-block__img-style {
    width: 100%;
    height: 100%;
}
.article-block__h3 {
    font-size: 16px;
    font-weight: 500;
    color: #404040;
    line-height: 22px;
    font-family: 'Conv_Roboto-Medium';
}
.article-block__text-style {
    margin-bottom: 30px;
}
.article-block__h3-style {

}
.numbered-list__style {
    list-style: none;
    counter-reset: li;
}

.numbered-list-inner {
    list-style: none;
    counter-reset: li;
}
.numbered-list-inner {
    padding-left: 30px;
    position: relative;
    margin-top: 20px;
}
.numbered-list {
    padding-left: 18px;
}
.numbered-list__text-numbers:before {
    counter-increment: li;
    content: counters(li,".") ". ";
    position: absolute;
    left: 0;
}
.numbered-list {
    margin-top: 20px;
}
.numbered-list__text {
    color: #404040;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: 'Conv_Roboto-Light';
}
.not-numbered-list__text {
    font-size: 21px;
}
.not-numbered-list__style-item {
    list-style-type: disc;
}
.numbered-list-inner-not-number__style-item {
    list-style-type: circle;
}
.article-table__style-width {
    width: 25%;
}
.article-table__style-border-last {
    border-left: 1px solid #dfe3e6;
    border-right: 1px solid #dfe3e6;
}
.article-table__style-border {
    border-left: 1px solid #dfe3e6;
}
.article-table {
    margin: 20px 0 30px;
    border: 1px solid #dfe3e6;
    border-right: none;
}
.article-table-block__head {
    background-color: #f2f4f5;
}
.article-table-block__head-item {
    color: #404040;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Conv_Roboto-Medium';
}
.article-table-block__head-item-style {
    padding: 15px;
    border-right: 1px solid #dfe3e6;
}
.article-table-block__inner-text {
    padding: 10px 15px;
    color: #404040;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    font-family: 'Conv_Roboto-Light';
}
.article-table-block__inner:nth-child(odd) {
    background-color: #f2f4f5;
}
.article-table-block__inner-text-style {
    border-right: 1px solid #dfe3e6;
}
.w25 {
    width: 25%;
}
.block-video__item-all-size {
    margin-top: 30px;
}
.publication-news__text {
    color: #404040;
    font-size: 15px;
    font-weight: 300;
    line-height: 16px;
    font-family: 'Conv_Roboto-Light';
}
.not-numbered-list__item-fonts {
    font-size: 15px;
}
.publication-news-border {
    border-top: 1px solid #c4c4c4;
    padding-top: 12px;
}
.news-block__title-text-payment-title-position {
    text-align: center;
}
.payment-form {
    width: 100%;
    max-width: 380px;
    margin: 20px auto 50px;
}
.payment-form-input-group__input {
    height: 40px;
    border: 1px solid #e1e5e6;
    border-radius: 2px;
    width: 100%;
    padding-left: 15px;
    color: #404040;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    font-family: 'Conv_Roboto-Regular';
}
.payment-form-input-group__input::-webkit-input-placeholder{
    font-family: 'Conv_Roboto-Light';
    color: #979797;
}
.payment-form-error__message {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Conv_Roboto-Regular';
    background-color: #fafcdd;
    border: 1px solid #e1e5e6;
    border-radius: 2px;
    padding: 10px 30px 10px 15px;
    position: relative;
}
.payment-form__input {
    margin: 10px 0;
}
.payment-form-error__img-closed {
    position: absolute;
    top: 16px;
    right: 10px;
    cursor: pointer;
}
.payment-form-input-group__input-error {
    border: 1px solid #d45555;
}
.select-drop-list {
    border-radius: 0 0 2px 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    width: 100%;
    z-index: 22222;
    background: #fff;
    height: 310px;
}
.mCSB_inside>.mCSB_container {
    margin-right: 0;
}
.select-drop-list__item {
    cursor: pointer;
    padding: 12px 15px;
    border-bottom: 1px solid #e1e5e6;
}
.select-drop-list__item:hover {
    color: #fff;
    background-color: #50eb6a;
}
.select-drop-list-top-block {
    height: 64px;
    border: 1px solid #e1e5e6;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    padding: 12px 15px;
}
.item-select-text__img {
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all .3s;
}
.open-select-menu {
    transform: rotate(180deg);
}
.payment-form-select__input {
    position: relative;
    margin: 10px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 4px;
    border-radius: 2px;
}
.item-select-text {
    color: #979797;
    line-height: 20px;
    font-family: 'Conv_Roboto-Light';
}
.item-select-text__top-black-text {
    font-family: 'Conv_Roboto-Medium';
    color: #404040;
}
.item-select-text__bottom-black-text {
    color: #404040;
}
.item-select-text__top {
    font-size: 18px;
}
.item-select-text__bottom {
    font-size: 14px;
}
.payment-form-cost {
    color: #404040;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Conv_Roboto-Medium';
}
.payment-form-submite__input-style {
    width: 100%;
    height: 41px;
    margin: 6px auto 10px;
}
.min-title-date {
    font-weight: 500;
    line-height: 16px;
    font-family: 'Conv_Roboto-Medium';
}
.min-title-date__item {
    color: #404040;
    font-size: 15px;
}
.blog-post-title__item {
    margin-bottom: 10px;
}
.blog-img-block__marg-style {
    margin: 15px auto;
}
.teg-list-item {
    font-size: 15px;
    font-weight: 300;
    line-height: 16px;
    color: #404040;
    font-family: 'Conv_Roboto-Light';
    display: inline-block;
}
.teg-list-item__style-text {
    color: #4f94d2;
    text-decoration: none;
}
.teg-list-item__style-text:hover {
    color: #4f94d2;
    text-decoration: underline;
}
.blog-img-block__item-style {
    width: 100%;
}
.publication-news-border__style {
    margin-bottom: 40px;
}
.comment-block__bg-style {
    background-color: #f3f7fa;
    padding-bottom: 40px;
}
.comment-block-title-count__style-line-height {
    line-height: 0;
}
.teg-list {
    float: left;
}
.coments-item-some-block {
    background-color: white;
    border: 1px solid #dfe3e6;
    border-radius: 2px;
    padding: 15px;
}
.publication-news__link-reviews {
    color: #4f94d2;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    font-family: 'Conv_Ubuntu-B';
    text-decoration: none !important;
    display: inline-block;
    border-bottom: 1px dashed transparent;
    float: right;
}
.publication-news__link-reviews:hover {
    border-bottom: 1px dashed #4f94d2;
    color: #4f94d2;
}
.coments-item {
    margin-top: 20px;
    margin-bottom: 20px;
}
.publication-news__text-style-reviews-data {
    color: #404040;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-family: 'Conv_Roboto-Regular';
    float: left;
}
.coments-item-some-block__name-user {
    color: #404040;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    font-family: 'Conv_Roboto-Medium';
}
.coments-item-some-block__text-user {
    color: #404040;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    font-family: 'Conv_Roboto-Light';
}
.coments-item-some-block__name-user-style {
    margin-bottom: 15px;
}
.coments-item-some-block__text-user-style {
    margin-bottom: 15px;
}
.coments-item-second-marg {
    margin-left: 20px;
}
.coments-item-third-marg {
    margin-left: 40px;
}
.reviews-comment-back {
    padding: 15px;
    border: 1px solid #dfe3e6;
    border-top: none;
    background-color: #fcfcfc;
    border-radius: 0 0 2px 2px;
}
.reviews-comment-back__input-name {
    background-color: white;
    border: 1px solid #e1e5e6;
    border-radius: 2px;
    width: 100%;
    color: #404040;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    font-family: 'Conv_Roboto-Light';
}
.reviews-comment-back__textarea-some-reviews-style {
    background-color: white;
    border: 1px solid #e1e5e6;
    border-radius: 2px;
    width: 100%;
    color: #404040;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    font-family: 'Conv_Roboto-Light';
    padding: 12px;
}
.reviews-comment-back__textarea-some-reviews {
    margin-bottom: 15px;
    height: 160px;
    resize: none;
}
.reviews-comment-back__input-name-style {
    margin-bottom: 15px;
    height: 32px;
    padding-left: 15px;
}
.reviews-comment-submite {
    float: right;
}
.form-reviews-slide {
    display: none;
}
.reviews-comment-submite__submite {
    outline: none !important;
}
.reviews-comment-submite__submite-style {
    width: 162px;
    height: 29px;
    background-color: #43b5f8;
}
.reviews-comment-submite__submite-style:hover {
    background-color: #73ccff;
}
.reviews-comment-back__not-border {
    border: none;
    background: none;
    padding: 0;
}
.leave-comment {
    background-color: #fcfcfc;
    padding-bottom: 40px;
}
.leave-comment-block__title-style {
    line-height: 26px;
    margin-bottom: 10px;
}
.blog-post-all {
    padding-bottom: 50px;
}
.blog-post-all__title {
    margin-bottom: 30px;
}
.blog-post-all__title-hover:hover {
    color: inherit;
}
.blog-post-all__title-link-style {
    margin-bottom: 5px;
}
.blog-list-tegs {
    padding-top: 0;
}
.blog-list-tegs-style {
    margin-bottom: 0;
}
.text-blog-list-style {
    margin-bottom: 15px;
    margin-top: 15px;
}
.news-blog-list__title-style {
    font-size: 22px;
    margin-bottom: 0;
}
.news-blog-block__date-style {
    font-size: 13px;
    margin-bottom: 5px;
}
.news-blog-block__text-item-style {
    margin-bottom: 20px;
    max-height: 90px;
    overflow: hidden;
}
.blog-list-tegs-style__item {
    font-weight: 500;
    font-family: 'Conv_Roboto-Medium';
}
.blog-list-tegs__float {
    float: left;
}
.link-comments-blog-block {
    float: right;
}
.link-comments-blog-block__link {
    text-decoration: none;
    color: #4f94d2;
    font-weight: 500;
    font-family: 'Conv_Roboto-Medium';
}
.link-comments-blog-block__link-style {
    font-size: 15px;
    line-height: 16px;
}
.link-comments-blog-block__link:hover {
    color: #4f94d2;
    text-decoration: underline;
}
.title-down-link__item {
    color: #4f94d2;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.title-down-link__item-glif {
    font-size: 11px;
}
.contact-title-marg {
    margin-bottom: 10px;
}
.block-contacts-map {
    margin: 0 auto;
    position: relative;
}
.block-contacts-map-style {
    background: url("../img/map-2.png") no-repeat center;
    width: 823px;
    height: 452px;
    background-size: contain;
    margin-bottom: 70px;
}
.link-map-block {
    position: absolute;
}
.link-map-block__item {
    display: inline-block;
    color: #1a2734;
    position: relative;
}
.link-map-block__item:hover {
    color: #fff;
}
.link-map-block__item-capital-sity {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    font-family: 'Conv_Ubuntu-B';
}
.link-map-block__item-style-sity {
    font-size: 11px;
    line-height: 18px;
    font-family: 'Conv_Ubuntu-M';
}
.link-map-block__item-capital-sity {

}
.sp-posit {
    top: 41.2%;
    left: 13.2%;
}
.ya-posit {
    top: 50.7%;
    left: 14.2%;
}
.nn-posit {
    top: 53.9%;
    left: 16.2%;
}
.ma-posit {
    top: 56.7%;
    left: 12.6%;
}
.ka-posit {
    top: 60.7%;
    left: 10.6%;
}
.ty-posit {
    top: 64.2%;
    left: 12.3%;
}
.kaz-posit {
    top: 59.2%;
    left: 21.5%;
}
.sa-posit {
    top: 63.8%;
    left: 19%;
}
.sar-posit {
    top: 67.9%;
    left: 16.8%;
}
.tu-posit {
    top: 63.2%;
    left: 29.3%;
}
.ek-posit {
    top: 66.5%;
    left: 25.5%;
}
.che-posit {
    top: 74%;
    left: 26.5%;
}
.noy-posit {
    top: 51.7%;
    left: 42%;
}
.noya-posit {
    top: 55%;
    left: 40.2%;
}
.han-posit {
    top: 57.7%;
    left: 34.9%;
}
.sur-posit {
    top: 60.9%;
    left: 37.2%;
}
.nyg-posit {
    top: 64.2%;
    left: 39.3%;
}
.kras-posit {
    top: 67.2%;
    left: 48.9%;
}
.kem-posit {
    top: 70%;
    left: 45.2%;
}
.novs-posit {
    top: 72.9%;
    left: 40.2%;
}
.nov-posit {
    top: 77.4%;
    left: 42.8%;
}
.ba-posit {
    top: 80.9%;
    left: 40.5%;
}
.ir-posit {
    top: 85%;
    left: 48.9%;
}
.block-hover-city-list {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    padding: 8px;
    position: absolute;
    left: -26px;
    top: -103px;
    z-index: 101;
}
.block-hover-city-list__title {
    white-space: nowrap;
    color: #db5858;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    font-family: 'Philosopher-Regular';
    padding-bottom: 5px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 5px;
}
.block-hover-city-list__text {
    white-space: nowrap;
    color: #404040;
    font-family: 'Conv_Roboto-Medium';
    font-weight: 500;
    line-height: 16px;
    font-size: 11px;
    margin: 2px 0 0 0;
}
.block-hover-city {
    display: none;
}
.triangle-block {
    position: absolute;
    border: 7px solid transparent;
    border-top: 7px solid white;
    top: -9px;
    z-index: 200;
    left: -16px;
}
.link-map-block:hover .block-hover-city {
    display: block;
}
.block-rout-top-left__title {
    color: #404040;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Conv_Roboto-Medium';
}
.block-rout-top {
    padding-top: 40px;
}
.block-map-text {
    background-color: #f3f7fa;
}
.block-rout-top-left-list {
    margin: 10px 0 20px 0;
}
.block-rout-top-left-list__item {
    color: #404040;
    line-height: 22px;
    font-size: 15px;
    font-family: 'Conv_Roboto-Light';
}
.block-rout-top-left-list__item-title {
    font-size: 17px;
    font-family: 'Conv_Roboto-Medium';
}
.block-map-all {
    height: 238px;
    padding-top: 10px;
}
.block-map-all__iframe {
    width: 100%;
    height: 100%;
}
.contact-divider-style {
    margin-top: 20px;
    margin-bottom: 0;
}
.block-rout-middle {
    margin-top: 30px;
}
.wrapp-list-middle-style {
    padding-left: 0;
}
.wrapp-list-middle-style__item-style {
    padding-left: 0;
}
.padd-left-none {
    padding-left: 0;
}
.block-rout-top-left-list-link {
    color: #4f94d2;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Conv_Roboto-Light';
}
.block-map-text {
    padding-bottom: 40px;
}
.form-modal {
    width: 100%;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
}
.modal-services-block-sel {
    padding: 50px;
    background: #78b6f0;
}
.modal-services-block-inputs {
    padding: 35px 50px;
    background: #5da2e3;
}
.modal-services-block__select-stlye {
    margin: 0;
}
.modal-services-block-sel--bg {
    background: #fff;
}
.mod-form-numb {
    overflow: hidden;
}
.mod-form-numb__input {
    width: 120%;
}
.mod-serv-bl-inp-item {
    margin: 15px 0;
}
.mod-serv-bl-inp-item__el {
    height: 48px;
}
.mod-serv-bl-inp-item-sub {
    margin-top: 40px;
}
.mod-serv-bl-inp-item-sub__el {
    width: 100%;
    height: 48px;
}
.modal-services-confirm {
    background: #5da2e3;
    padding: 50px;
    text-align: center;
}
.modal-services-confirm__title {
    color: #fff;
    font-family: 'Philosopher-Bold';
    font-size: 39px;
    margin-bottom: 15px;
}
.modal-services-confirm__text {
    color: #fff;
    font-size: 16px;
}
.payment-paid {
    background: url("../img/pay-rec.png") no-repeat center;
    background-size: cover;
    padding: 20px;
    width: 100%;
    max-width: 385px;
    margin: 0 auto;
    min-height: 364px;
    position: relative;
    z-index: 222;
}
.pay-wrap {
    position: relative;
    z-index: 1;
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.pay-shad {
    background: url("../img/shadow-pay.png") no-repeat center;
    height: 110px;
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
}
.payment-paid__title {
    color: #404040;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Philosopher-Bold';
    margin-bottom: 15px;
}
.payment-paid__title-name {
    color: #404040;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    font-family: 'Conv_Roboto-Medium';
}
.payment-paid__title-name--st {
    margin-bottom: 10px;
    margin-top: 15px;
}
.payment-paid__title-name--city {
    margin-top: 15px;
}
.payment-paid__title-name--date {
    margin-bottom: 15px;
}
.pay-title--mg {
    margin: 45px auto;
}
.bord-bl-all {
    height: 1px;
    background-color: #e6e8cc;
    width: 100%;
    margin: 15px auto;
}
.cost-text {
    font-family: 'Conv_Roboto-Medium';
    line-height: 28px;
    color: #404040;
    font-size: 28px;
    font-weight: 500;
}
.cost-text--mg {
    margin-bottom: 10px;
}
.payment-paid__text-op {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Conv_Roboto-Regular';
    margin: 10px 0 0 0;
}
.sl-mod-img {
    width: 100%;
    max-width: 600px;
    padding: 15px;
}
.sl-mod-img--img {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.mod-hed-ltb {
    border: none;
}
.mod-hed-ltb .close {
    color: #fff;
    opacity: .8;
    transition: opacity .3s;
}
.mod-hed-ltb .close:hover {
    opacity: 1;
}
.mod-rew-light-box {
    background: transparent;
    box-shadow: none;
    border: none;
}
.pay-wrapp {
    min-height: calc(100vh - 390px);
}
.menu-open {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
}
.open-list-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 2040;
}
.open-menu-bg {
    background: #5ca2e3;
}

/*MEDIA*/
@media (max-width: 1199px) {
    .header-bottom-info__item {
        width: 302px;
    }
    .head-nav-link {
        font-size: 14px;
        padding: 13px 8px;
    }
    .header-top__button {
        width: 100%;
    }
    .telephone-list-position {
        padding: 11px 0 0 30px;
        text-align: center;
    }
    .telephone-text {
        font-size: 18px;
    }
    .img-info-block {
        height: 144px;
    }
    .news-block-item__width {
        width: 693px;
    }
    .single-news__width {
        width: 300px;
    }
    .specialists-slider-img__item {
        width: 227px;
        height: 227px;
    }
    .specialists-slider-info {
        padding: 10px;
    }
    .bottom-rev-slider-text {
        max-height: 284px;
    }
    .sertificate-slider__item-img {
        width: 230px;
        height: 330px;
    }
    .schedule-block {
        max-width: 270px;
    }
    .news-block__title-text-link {
        font-size: 42px;
    }
    .schedule-list__item-style {
        min-width: 100%;
    }
    .header-nav__list {
        height: 38px;
    }
}
@media(max-width: 991px) {
    .container {
        width: 100%;
        max-width: 620px;
    }
    .header-bottom-info__item {
        width: 100%;
        display: block;
        margin: 10px auto 20px;
    }
    .header-bottom-info__item:last-child {
        margin-right: auto;
    }
    .img-info-block {
        height: 184px;
    }
    .text-info-block {
        border: 1px solid #dfe3e6;
    }
    .img-info-block {
        height: 254px;
    }
    .title-item-style {
        font-size: 18px;
        line-height: 23px;
    }
    .text-about-style {
        margin-top: 10px;
    }
    .text-info-block__button-style {
        margin-top: 10px;
    }
    .header-top__button {
        font-size: 12px;
    }
    .text-info-block {
        padding: 15px;
    }
    .header-top__telephone {
        padding: 0;
    }
    .telephone-list-position {
        padding: 40px 0 0 20px;
    }
    .block-rout-top-left-list__item {
        font-size: 13px;
    }
    .block-rout-top-left-list__item-title {
        font-size: 16px;
    }
    .block-map-text {
        background-color: #fff;
    }
    .telephone-list-all {
        margin-right: 0;
        text-align: left;
        margin-bottom: 18px;
        display: block;
    }
    .block-contacts-map-style {
        display: none;
    }
    .title-down-link__item {
        margin-bottom: 10px;
        display: block;
    }
    .block-rout-top-right {
        padding-left: 0;
        padding-right: 0;
    }
    .telephone-img {
        margin-right: 10px;
    }
    .head-nav-link {
        font-size: 16px;
        padding: 13px 7px;
    }
    .news-block-item__width {
        width: 100%;
        padding-left: 0;
    }
    .drop-list-768 {
        display: inline-block;
    }
    .media-none-768 {
        display: none;
    }
    .arrow-down-media {
        display: block;
    }
    .item-link-style {
        white-space: nowrap;
    }
    .drop-list__media-768 {
        right: 0;
        top: 38px;
        left: auto;
    }
    .drop-list__media-768-triangle {
        border: 7px solid transparent;
        border-bottom: 10px solid #fff;
        position: absolute;
    }
    .news-block {
        padding-left: 15px;
        padding-right: 15px;
    }
    .single-news {
        width: 100%;
    }
    .schedule-block {
        float: none;
        max-width: 100%;
    }
    .specialists-slider-img__item {
        margin: auto;
    }
    .specialists-slider-info {
        padding: 15px 15px 0;
    }
    .reviews-slide-left__img-avatar-block {
        float: none;
    }
    .reviews-slide-left__text-avatar-block {
        max-width: 350px;
    }
    .reviews-slider {
        padding: 30px 10px 0 10px;
    }
    .reviews-all {
        background: url(../img/media-bg-sl.png) no-repeat center;
    }
    .bottom-rev-slider-text {
        max-height: 100%;
    }
    .sertificate-slider__item-img {
        width: 270px;
        height: 360px;
    }
    .footer-bg {
        background: url("../img/footer-bg-media.png") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    .right-vk-vidget {
        width: 100%;
        margin-top: 20px;
    }
    .block-video__item-style {
        width: 100%;
    }
    .block-video__title-link-style {
        margin-top: 20px;
    }
    .block-video__item-style {
        padding-left: 0;
        padding-right: 0;
    }
    .block-video__item-all-size-height {
        height: 326px;
    }
    .numbered-list__item:before {
        left: 15px;
    }
}

@media (max-width: 767px) {
    .gamburger-block {
        color: #fff;
        font-size: 24px;
        float: right;
        margin: 12px 15px 0 0;
    }
    .list-rout-position {
        position: relative;
        width: 100%;
    }
    .header-nav__list {
        text-align: left;
        position: absolute;
        background: #fff;
        width: 100%;
    }
    .visible-767 {
        display: block;
    }
    .head-nav-link,.head-nav-link:hover, .head-nav-link:active, .head-nav-link:visited {
        color: #71bdee;
        padding-left: 25px;
    }
    .modal-services-block-sel {
        padding: 20px;
    }
    .modal-services-block-inputs {
        padding: 15px 20px 30px;
    }
    .modal-services-confirm {
        padding: 20px;
    }
    .contacts-all-block {
        padding-left: 15px;
        padding-right: 15px;
    }
    .head-nav-link:hover {
        color: #fff;
    }
    /*.drop-list {*/
        /*border: 1px solid #eee;*/
        /*border-top: none;*/
    /*}*/
    .header-nav__list-rout:hover .drop-list {
        z-index: 300;
    }
    .article-table {
        overflow-x: scroll;
    }
    .numbered-list {
        padding-left: 21px;
    }
    .bread-crambs-block {
        padding-left: 15px;
    }
    .article-block__img {
        float: none;
        margin: 0 auto 30px auto;
    }
    .drop-list {
        left: 20px;
        width: calc(100% - 40px);
        right: 20px;
        top: 38px;
    }
    .header-nav__list {
        display: none;
    }
    .title-top-style {
        font-size: 26px;
        line-height: 32px;
    }
    .mini-text-style {
        font-size: 18px;
    }
    .single-news {
        display: block;
    }
    .main-text {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-text__title-style {
        font-size: 30px;
    }
    .main-text__title-bottom {
        font-size: 20px;
        line-height: 20px;
        margin-top: 20px;
    }
    .main-text__some-text-style {
        margin-top: 15px;
    }
    .block-video__item-style {
        padding-left: 15px;
        padding-right: 15px;
    }
    .reviews-all {
        background-size: cover;
    }
    .specialists-slider .slick-dots {
        top: -10px;
        right: 0;
        padding-right: 0;
        padding-left: 40px;
        text-align: left;
    }
    .news-block__title-text {
        padding-left: 0;
    }
    .specialists--padding {
        padding-left: 15px;
    }
    .specialists-slider .slick-prev {
        top: 3px;
        left: 14px;
        right: auto;
        z-index: 200;
    }
    .specialists-slider .slick-next {
        right: auto;
        top: 3px;
        left: 205px;
        z-index: 200;
    }
    .reviews-slide-right__img {
        float: none;
        clear: both;
        margin-top: 15px;
    }
    .reviews-slide-left__text-avatar-block {
        float: none;
        clear: both;
    }
    .block-video__item-iframe {
        height: 220px;
    }
    .all-reviews-link {
        display: inline-block;
        text-align: left;
        outline: none;
        border-bottom: 1px dashed #fff;
    }
    .all-reviews-link__item-style {
        color: #fff;
        margin-bottom: 15px;
    }
    .bottom-rev-slider-text__item {
        max-height: 220px;
    }
    .reviews-slider {
        background: transparent;
    }
    .specialists-slider {
        padding-top: 50px;
    }
    .flag-sale {
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
        width: 319px;
        background: #e35b5b;
    }
    .flag-sale__left {
        background: #e35b5b;
    }
    .list-item-text {
        max-width: 241px;
    }
    .left-contact-footer__item-list {
        padding-left: 15px;
    }
    .right-vk-vidget {
        padding-left: 15px;
        padding-right: 15px;
    }
    .mobaile-button__button {
        display: block;
        margin-bottom: 15px;
    }
    .news-block .block-video__item-style {
        padding-left: 0;
        padding-right: 0;
    }
    .header-nav__list {
        height: 230px;
        overflow-y: auto;
    }
    .payment-form {
        max-width: 290px;
    }
    .blog-post-all,.comment-block,.leave-comment {
        padding-left: 15px;
        padding-right: 15px;
    }
    .reviews-comment-submite {
        float: none;
    }
    .publication-news__text-style-reviews-data {
        float: none;
    }
    .publication-news__link-reviews {
        float: none;
        margin-top: 10px;
    }
    .link-comments-blog-block {
        float: none;
        margin-top: 10px;
    }
    .teg-list {
        float: none;
    }
    .price-table {
        display: none;
    }
    .mobile-price {
        display: block;
    }
    .modal-slider .modal-dialog {
        width: 90%;
        margin: 10px auto;
    }
    .arr-sl-mod-prev {
        width: 30px;
        height: 40px;
        left: -20px;
        background-size: contain;
    }
    .arr-sl-mod-next {
        width: 30px;
        height: 40px;
        right: -20px;
        background-size: contain;
    }
    .slider-modal-init__img {
        width: 100%;
    }
    .slider-modal-block {
        padding-left: 20px;
        padding-right: 20px;
    }
    .pay-wrap {
        padding: 0 15px;
    }
    .modal .modal-content {
        margin-top: 80px;
    }
}
@media (max-width: 350px) {
    .flag-sale {
        width: 100%;
    }
    .img-info-block {
        height: 164px;
    }
}
@media (min-height: 450px) {
    .header-nav__list {
        height: 360px;
        overflow: hidden;
    }
}











































































































